
.event-date-box[data-color="primary"] {
  background-color: #5a9cff;
  color: black;
  padding: 10px 12px;
  border-radius: 15px;
  font-weight: 600;
}
.event-date-box[data-color="success"] {
  background-color: #82C09A;
  color: black;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 600;
}
.event-date-box[data-color="warning"] {
  background-color: #ffd557;
  color: black;
  padding: 10px 12px;
  border-radius: 15px;
  font-weight: 600;
}


#dates .event-date-box:hover {
  transform: scale(1.05);
}

#dates #event-info-box {
  transition: all 0.3s ease;
  border-color: #ccc;
}
